# Lazarus session files
*.lps

# Lazarus backup / temp
*.bak
*.~*
*.ppu
*.o
*.or
*.rst

# Lazarus build output
/lib/
*.exe
*.dll
*.so
*.dylib

# Lazarus config
*.compiled

# AI files
.serena
.claude

# Program database files
*.db
*.ini

# Build output
build/
dist/
src/standard/lib/

# Lazarus user config
packagefiles.xml

# VSCode extension
clients/pasls-vscode/node_modules/*
clients/pasls-vscode/out/*
*.vsix

# macOS specific
.DS_Store

# 3rd-party editor projects
*.code-workspace
*.sublime-project
*.sublime-workspace

/src/tests/testlsp